MONGO_URI=mongodb+srv://**********@cluster0.qnau9up.mongodb.net/ecommerce?retryWrites=true&w=majority
# Some dummy token to authorize some API endpoints
TOKEN=abc123
# USERNAME AND PASSWORD (BETTER TO HAVE IT SAVED ON MONGODB BUT FOR TESTING ONLY)
DUMMYUSER=user
DUMMYPASS=pass
SECRET=mYgR34Ts3Cr3T
# GMAIL NOTIFICATION
GMAIL_ACCOUNT=********@gmail.com
GMAIL_PASSWORD=****************